7.Using the downloaded stock data:

In [4]:
import numpy as np
import pandas as pd
import seaborn as sns; sns.set()
import random

In [5]:
icici = pd.read_csv("D:\\msit2\\DADV\\Asignments\\Task-3\\ICICI.csv")["Close Price"].reset_index()

In [6]:
icici.head(10)

   index  Close Price
0      0       541.10
1      1       546.70
2      2       537.05
3      3       531.65
4      4       527.55
5      5       534.80
6      6       528.45
7      7       528.95
8      8       520.20
9      9       513.65

In [7]:
equity = pd.read_csv("D:\\msit2\\DADV\\Asignments\\Task-3\\Equity.csv")
equity.head(10)

,Security Code,Issuer Name,Security Id,Security Name,Status,Group,Face Value,ISIN No,Industry,Instrument
0,500002,NaN,ABB,ABB India Limited,Active,A,2.0,INE117A01022,Heavy Electrical Equipment,Equity
1,500003,NaN,AEGISLOG,AEGIS LOGISTICS LTD.,Active,A,1.0,INE208C01025,Oil Marketing & Distribution,Equity
2,500008,NaN,AMARAJABAT,AMARA RAJA BATTERIES LTD.,Active,A,1.0,INE885A01032,Auto Parts & Equipment,Equity
3,500009,NaN,AMBALALSA,AMBALAL SARABHAI ENTERPRISES LTD.,Active,X,10.0,INE432A01017,Pharmaceuticals,Equity
4,500010,NaN,HDFC,HOUSING DEVELOPMENT FINANCE CORP.LTD.,Active,A,2.0,INE001A01036,Housing Finance,Equity
5,500012,NaN,ANDHRAPET,ANDHRA PETROCHEMICALS LTD.,Active,X,10.0,INE714B01016,Commodity Chemicals,Equity
6,500013,NaN,ANSALAPI,ANSAL PROPERTIES & INFRASTRUCTURE LTD.,Active,T,5.0,INE436A01026,Realty,Equity
7,500014,NaN,UTIQUE,Utique Enterprises Ltd,Active,X,10.0,INE096A01010,Finance (including NBFCs),Equity
8,500016,NaN,ARUNAHTEL,ARUNA HOTELS LTD.,Active,XT,10.0,INE957C01019,Hotels,Equity
9,500020,NaN,BOMDYEING,BOMBAY DYEING & MFG.CO.LTD.,Active,A,2.0,INE032A01023,Textiles,Equity

In [8]:
sample_data  = equity.sample(10)
sample_data

,Security Code,Issuer Name,Security Id,Security Name,Status,Group,Face Value,ISIN No,Industry,Instrument
2052,531235,NaN,CITIPOR,CITIPORT FINANCIAL SERVICES LTD.,Active,XT,10.0,INE494D01011,Finance (including NBFCs),Equity
85,500171,NaN,GHCL,GHCL LTD.,Active,A,10.0,INE539A01019,Commodity Chemicals,Equity
775,511389,NaN,VIDEOIND,VIDEOCON INDUSTRIES LTD.,Active,Z,10.0,INE703A01011,Consumer Electronics,Equity
396,504335,NaN,PAZEL,Pazel International Ltd,Active,X,1.0,INE040N01029,Comm.Trading & Distribution,Equity
3897,542206,NaN,NIVAKA,Nivaka Fashions Ltd,Active,X,1.0,INE139E01028,Comm.Trading & Distribution,Equity
2492,532507,NaN,BAGFILMS,B.A.G.FILMS & MEDIA LTD.,Active,T,2.0,INE116D01028,Broadcasting & Cable TV,Equity
987,513353,NaN,COCHINM,COCHIN MINERALS & RUTILE LTD.-$,Active,X,10.0,INE105D01013,Specialty Chemicals,Equity
2874,533285,NaN,RDBRIL,RDB REALTY & INFRASTRUCTURE LTD.,Active,X,10.0,INE245L01010,Realty,Equity
3222,539120,NaN,BFFL,Bangalore Fort Farms Ltd,Active,XT,10.0,INE578R01011,Jute & Jute Products,Equity
1577,524667,NaN,SOTL,SAVITA OIL TECHNOLOGIES LTD.,Active,B,10.0,INE035D01012,Refineries/ Petro-Products,Equity

In [9]:
Security_code = list(sample_data["Security Code"])
Security_Id = list(sample_data["Security Id"])
Security_Name = list(sample_data["Security Name"])
print(Security_code)

[531235, 500171, 511389, 504335, 542206, 532507, 513353, 533285, 539120, 524667]

In [10]:
import time, csv
from selenium import webdriver
from selenium.webdriver.support.ui import Select
import datetime
import random
from selenium.webdriver.common.keys import Keys

chromeOptions = webdriver.ChromeOptions()
preferences = {"download.default_directory" : "D:\\msit2\\DADV\\Asignments\\Task-3"}
chromeOptions.add_experimental_option("prefs", preferences)
chromedriver = "D:\\msit2\\DADV\\Asignments\\Task-2\\chromedriver.exe"
driver = webdriver.Chrome(executable_path=chromedriver, options=chromeOptions)
driver.maximize_window()

driver.get("https://www.bseindia.com/markets/equity/EQReports/StockPrcHistori.aspx?flag=0")

#date
driver.find_element_by_id("ContentPlaceHolder1_txtToDate").click()
time.sleep(3)
x = datetime.datetime.now()
date = str(int(x.strftime("%d")))
year = x.strftime("%Y")
driver.find_element_by_link_text(date).click()
time.sleep(2)
driver.find_element_by_id("ContentPlaceHolder1_txtFromDate").click()
select = Select(driver.find_element_by_class_name("ui-datepicker-year"))
pyear = str(int(year)-5)
select.select_by_visible_text(pyear)
driver.find_element_by_link_text(date).click()
time.sleep(2)

for i in Security_code:
    random_code = i
    print(random_code)
    #company id
    search = driver.find_element_by_id('ContentPlaceHolder1_smartSearch')
    search.clear()
    search.send_keys(random_code)
    driver.find_element_by_class_name("quotemenu").click()
    #download
    driver.find_element_by_id("ContentPlaceHolder1_btnSubmit").click()
    time.sleep(3)
    driver.find_element_by_id("ContentPlaceHolder1_btnDownload").click()
    time.sleep(10)

driver.close()

531235
500171
511389
504335
542206
532507
513353
533285
539120
524667

In [11]:
data = pd.DataFrame()
new_data = pd.DataFrame()
for i in range(9):
    link = "D:\\msit2\\DADV\\Asignments\\Task-3\\"+str(Security_code[i])+".csv"
    x = pd.read_csv(link)["Close Price"].reset_index()
    data = pd.merge(x, icici, on='index').iloc[:,[1,2]]
    row = {'Name': Security_Name[i], 'Corr':data.corr()['Close Price_x'][1]}
    new_data = new_data.append(row, ignore_index=True)

In [12]:
new_data

       Corr                              Name
0  0.704713  CITIPORT FINANCIAL SERVICES LTD.
1 -0.102940                         GHCL LTD.
2 -0.669757          VIDEOCON INDUSTRIES LTD.
3 -0.120484           Pazel International Ltd
4 -0.191124               Nivaka Fashions Ltd
5 -0.551090          B.A.G.FILMS & MEDIA LTD.
6  0.504584   COCHIN MINERALS & RUTILE LTD.-$
7 -0.291841  RDB REALTY & INFRASTRUCTURE LTD.
8  0.144603          Bangalore Fort Farms Ltd

8.identify the stock most correlated with ICICI Bank's stockprice

In [14]:
new_data.sort_values("Corr", axis = 0, ascending = False, inplace = True, na_position ='last')
str("Stock with highest correlation with ICICI bank is "+ new_data['Name'][0]) +"---" +str(new_data['Corr'][0])

'Stock with highest correlation with ICICI bank is CITIPORT FINANCIAL SERVICES LTD.---0.7047125228824771'